@media (max-width: 768px) {
    .bdt {
      display: none;
    }
    .blg{
        margin-right: 5px;
    }
    .dnt-btn{
        width: 80px;
    }
    .dnt-bd{
        text-align: center;
    }
    .dlr{
        display: none;
    }
  }
  